[Unit]
Description=AniwaveProviders
After=network.target

[Service]
SyslogIdentifier=aniwaveproviders
Restart=always
RestartSec=5
Type=simple
User=nix
WorkingDirectory=/home/nix/webserver/aniwave_providers
ExecStart=/home/nix/webserver/aniwave_providers/offsetfinder.py
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
